@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url(/fonts/Roboto-Regular.woff) format('woff'),
      url(/fonts/Roboto-Regular.woff2) format('woff2');
  }
}

.leaflet-container {
  height: 100vh;
  width: 90vw;
}

#controlButton {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  border-color: gray;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  opacity: 0.6;
  text-align: center;
  z-index: 500;
  margin-bottom: 10px;
}

#controlButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-touch .leaflet-bar a {
  width: 46px;
  height: 48px;
  font-size: 28px;
  padding: 5px;
}
